body{
    margin: 0px;
    color: #FAF6F0;
   background-color: #000000;
   padding: 0px 100px 0px 100px;
    
}
.wee{
    text-decoration:double;
}

h1{
    font-size: 3em;
    color: #F4DFC8;
}
h2 {
    font-size: 2rem;
    color: #F4DFC8;
}
h3{
    color: #F4DFC8;
    font-style: italic;
    font-weight: bold;
}
.main{
    background-color: #000000;
    color: #F4DFC8;;
    font-size: 1.5rem;

    font-family: 'Merriweather', serif;
    padding: 150px;
    margin: 0px;
    border: #F4DFC8 solid;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    
}
.intro {
    padding: 100px;

}
.web{
   
    position: absolute;
    left: 50px;
    top: 20px;
}
.image {
  
    border-radius: 100%;
}
.center {
    text-align: center;
}
.skills{
    padding: 0px 300px 0px 300px;
}

.btn{
    background:#F4EAE0;
    border-radius: 8px;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover{
    background-color: #F4DFC8;
    font-weight: bold;

}
.contact{
   
    padding: 100px;
    margin: 0%;
}

.bottom-container{
    background-color: #000000;
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    padding: 20px
}
.footer-link{
    color: white;
    text-decoration: none;
    padding: 10px;
}

@media (max-width: 767.98px){

    body {
       
        display: block;
        padding: 10%;
    
    
    }
    .main{
        border:none;
        width: 100%;
        padding: 0%;
        font-size: 0.5rem;
        text-align: center;

    }
    .web {
        position: inherit;
    }
    .intro{
        padding: 0%;
    }
    .image{
        width: 30%;
        height: 30%;
    }
    .btn {
        margin: 0px;
        font-size: 10px;
    }
    .skills {
     padding: 0%;   
    }
    .parent{
        display: none;
        left: 0px;
  
        margin: 0;
    }
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.icon{
    position: absolute;
    top: 20px;
    right: 100px;
}
